/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
/* FIM RESET */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
    /* O padding-inline da uma distância nos lados */
}
header{
   height: 200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo{
    background-color: lightgray;
    height: 64px;
    width: 64px;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 30px;
}
main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 96px;
}
.conteudo p{
    width: 90%;
    font-size: 48px;
}
.acao button{
    height: 100px;
    width: 400px;
    font-size: 40px;
    background-color: black;
    color: white;
}
.social{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 96px;
    width: 96px;
    background-color: lightgray;
    border-radius: 50%;
    /* boder-radius serve para mudar a forma (deixar redondo) */
}
.imagem{
    height: 100%;
    width: 50%;
    background-color: lightgray;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}